@{
    ViewData["Title"] = "All Gummi Bears";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<GummiBearKingdom.Models.Taste>
<h2>tastes</h2>

@foreach (var taste in Model)
{
    <h3>@Html.DisplayFor(name => taste.Name)</h3>            
}


@Html.ActionLink("Create A New Taste", "Create")