
<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript" src="/scripts/jquery-3.2.1.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h2>GUMMI BEARS</h2>
        </div>
    </div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav navbar-nav" })</li>
                    <li>@Html.ActionLink("Products", "Index", "Product", null, new { @class = "nav navbar-nav" })</li>
                    
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>